* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}

.one img {
    width: 267px; /* Adjust as needed */
    height: 353px; /* Maintain aspect ratio */
    margin-right: 50px; /* Space between image and text */
    margin-left: -35px;
}

.box {
    text-align: left;
    margin-top: -20px;
}

.box h1{
    font-size: 20px;
    
}

.box p{
    font-size: 15px;
    margin-top: 20px;
}
   
.textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
    height: 100px;
    transition: all 0.2s;
    margin-top: 20px;
  }
  
  .textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
  
  .textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
  }
  